@import url(./_disabled/form__button_disabled.css);

.form__button {
  top: 0;
  right: 0;
  background-color: #666363;
  padding: 19px 54px;
  border-radius: 100px;
  border: 2px solid transparent;
  outline: none;
  color: #fff;
  font-family: 'Roboto','Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.form__button:hover {
  cursor: pointer;
  background-color: #404040;
  transition: .3s;
}

.form__button:active {
  background-color: #f8f8f8;
}

@media screen and (max-width: 1090px){
  .form__button {
    padding: 16px 50px;
  }
}
@media screen and (min-width: 768px) {
  .form__button {
    position: absolute;
  }
}
