@import url(./__paragraph/search-result__paragprah.css);
@import url(./__preloader/search-result__preloader.css);
@import url(./__not-found/search-result__not-found.css);
@import url(./__title/search-result__title.css);

.search-result {
  background-color: #F5F6F7;
  padding: 80px 104px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1090px) {
  .search-result {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .search-result {
    padding: 32px 16px;
  }
}