.cards__link {
  font-family: 'Roboto','Roboto Slab',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
}

.cards__link:hover {
  opacity: .5;
  transition: .3s;
}