.cover__title {
  font-family: 'Roboto Slab','Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  text-align: left;
  color: #fff;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 1090px) {
  .cover__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    max-width: 385px;
  }
}
